<div class="container">
  <h1>用户表单</h1>

  <form>
    <div class=“form-group”>
      <label for="name">姓名 </label>
      <input type="text " class="form-control" id='name' required>
    </div>
    <div class="form-group">
      <label class="" for="age">年龄 </label>
      <input type="text " class="form-control" id='age'>
    </div>
    <div class="form-group">
      <label for="job">职业</label>
      <select name="" id="job" class="form-control" required>
      <option *ngFor ="let jo of jobs" [value]="jo">{{jo}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>